@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    text-align: center;
    background-color: #282828;
}

h1{
    font-size: 50px;
    color: rgb(57, 150, 255);
    margin-top: 20px;
}

.button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button-wrapper button{
    border: none;
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 3px;
}

.button-wrapper button:hover{
    background-color: rgb(140, 219, 255);
    transition: 0.2s;
}

.button-wrapper button.active{
    background-color: rgb(57, 150, 255);
    color: #fff;
}

.content{
    display: none;
    color: #ffc98a;
    text-transform: uppercase;
}

.content.active{
    display: block;
}
