@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 19, 19);
    color: #ddddddb7;
    height: 100vh;

}


.container{
    max-width: 1440px;
}

h1{
    text-align: center;
}

.star-container{
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 25px;
}

.star-container i{
    padding: 10px;
    font-size: 22px;
}

.star-container i:hover{
    cursor: pointer;
}

i.fa-solid{
    color: rgb(255, 127, 131);
}

.selected-rating{
    text-align: center;
}