@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #1e1e1e;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: "Poppins", sans-serif;
}

.btn{
    padding: 20px 40px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 30px;
    cursor: pointer;
    background-color: #ffdabf;
    box-shadow: 0 0 10px #0a0a0a;
    position: relative;
    overflow: hidden;
}

.btn span{
    position: relative;
    z-index: 1;
}

.btn::before{
    content: '';
    position: absolute;
    background-color: #ed6806;
    height: 0;
    width: 0;
    /* top: 50%;
    left: 50%; */
    top: var(--posY);
    left: var(--posX);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
}

.btn:hover::before{
    height: 600px;
    width: 600px;
}